In [2]:
using CSV, DataFrames, Dates
# using PyCall
# using CairoMakie
# using StatsBase

# @pyimport powerlaw as powlaw
# so = pyimport("scipy.optimize")

In [3]:
data_in_question = "hourly_sea_level_original"
datetime = "datetime"
variable = "sea_level"

"sea_level"

In [4]:
path = "./data/"
filepath = path * data_in_question * ".csv"
df = CSV.read(filepath, DataFrame);

In [5]:
rename!(df, ["SEA LEVEL HEIGHT(cm above TG zero)", "FLAG(0=observed/1=approximate/2=estimated by interpolation/5=reconstructed from nearby station)"] .=>  
            ["sea_level", "flag"])

transform!(df, ["DATE", "TIME(UTC+1)"]  => ByRow((A, B) -> string(A, " ", B)) => "datetime")
select!(df, Not(["DATE", "TIME(UTC+1)"]));

In [6]:
df

1034377×3 DataFrame
     Row │ sea_level  flag     datetime
         │ Float64?   Int64?   String
─────────┼─────────────────────────────────────────
       1 │ missing    missing  01/01/1905 00:00:00
       2 │     122.7        0  01/01/1905 01:00:00
       3 │     135.7        0  01/01/1905 02:00:00
       4 │     158.7        0  01/01/1905 03:00:00
       5 │     175.7        0  01/01/1905 04:00:00
       6 │     178.7        0  01/01/1905 05:00:00
       7 │     179.7        0  01/01/1905 06:00:00
       8 │     178.7        0  01/01/1905 07:00:00
    ⋮    │     ⋮         ⋮              ⋮
 1034371 │     159.0        0  31/12/2022 18:00:00
 1034372 │     159.0        0  31/12/2022 19:00:00
 1034373 │     152.0        0  31/12/2022 20:00:00
 1034374 │     151.0        0  31/12/2022 21:00:00
 1034375 │     150.0        0  31/12/2022 22:00:00
 1034376 │     152.0        0  31/12/2022 23:00:00
 1034377 │     160.0        0  01/01/2023 00:00:00
                               1034362 rows omitted

In [7]:
describe(df)

3×7 DataFrame
 Row │ variable   mean       min                  median  max                  ⋯
     │ Symbol     Union…     Any                  Union…  Any                  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ sea_level  160.259    19.0                 161.0   344.0                ⋯
   2 │ flag       0.0313789  0                    0.0     5
   3 │ datetime              01/01/1905 00:00:00          31/12/2022 23:00:00
                                                               2 columns omitted

In [8]:
df1 = combine(groupby(df, :flag, sort=true), nrow)

5×2 DataFrame
 Row │ flag     nrow
     │ Int64?   Int64
─────┼─────────────────
   1 │       0  980827
   2 │       1     571
   3 │       2    3531
   4 │       5    4684
   5 │ missing   44764